/* Body Styling */
body {
    font-family:cursive;
}

/* Header styling */
header {
    background-color:dodgerblue;
    color: white;
    padding: 15px 0px ;
    width: 100%;
}
header.row {
    margin: 0;
    text-align: center;
}
header h1 {
    margin-bottom: 0;
}

/* Heading Text Styles */
section.row h2{
    margin: 15px;
    padding: 10px;
}
section.row h3{
    margin: 15px;
    padding: 10px;
}
section.row h5{
    margin: 10px;
    padding: 5px;
}
section.row h6{
    margin: 10px;
    padding: 5px;
}

/* input styling */
#searchInput {
    padding: 10px;
    border-radius: 5px;
}

.forecastDay {
    background-color: dodgerblue;
    color: white;
    margin: 10px;
    border-radius: 5px;
}

/* styleing for the main section */
main {
    height: 100vh;
}

/* Section styling */
section div input {
    margin: 0px;
    padding: 0px;
}
section.col-3 div {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.col-3 {
    border-right: 3px dashed dodgerblue;
    border-radius: 5px;
    padding: 0;
    justify-content: center;
    padding: 20px;

}
section.col-9 section.row {
    border: 1px solid dodgerblue;
    border-radius: 5px;
    margin: 15px;
}
section .col-3{
    padding: 0
}